---
const { title } = Astro.props;
---
<section class="playlistcard">
    
    <ul>
        <figure>
            <img src="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" alt="">
        </figure>

        <li>
            <h1>{title}</h1>
        </li>
    </ul>
     <ul>
        <figure>
            <img src="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" alt="">
        </figure>

        <li>
            <h1>{title}</h1>
        </li>
    </ul>
    <ul>
        <figure>
            <img src="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" alt="">
        </figure>

        <li>
            <h1>{title}</h1>
        </li>
    </ul>
    <ul>
        <figure>
            <img src="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" alt="">
        </figure>

        <li>
            <h1>{title}</h1>
        </li>
    </ul>
    <ul>
        <figure>
            <img src="https://via.assets.so/album.png?id=5&q=95&w=360&h=360&fit=fill" alt="">
        </figure>

        <li>
            <h1>{title}</h1>
        </li>
    </ul>
</section>

